Repository codekoala/templ-component-opts: changes, and which pre-commit hooks are due for each by the changed paths.
All: tcogen, templ

.pre-commit-config.yaml:

fail_fast: true
repos:
- repo: local
  hooks:
    # generate options
    - id: tcogen
      name: tcogen
      entry: bash -c 'go run main.go ./example/'
      language: system
      files: '\.go$'
      pass_filenames: false
- repo: local
  hooks:
    # generate templ components
    - id: templ
      name: templ
      entry: bash -c 'templ generate ./example/...'
      language: system
      files: '\.templ$'
      pass_filenames: false
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
    - id: go-fmt
    - id: go-vet
    - id: go-lint
    - id: go-imports
    - id: go-cyclo
      args: [-over=15]
    - id: validate-toml
    - id: no-go-testing
    - id: go-unit-tests
    - id: go-build
    - id: go-mod-tidy

Generate DefaultOpts function
  .pre-commit-config.yaml
  example/view/component/sample/sample_tcogen.go
  main.go
Due: tcogen

Cleanup
  main.go
Due: tcogen

Include imports from source file
  example/view/component/book/book.go
  example/view/component/book/book.templ
  example/view/component/book/book_tcogen.go
  example/view/component/sample/sample.go
  example/view/component/sample/sample.templ
  example/view/index.templ
  main.go
Due: tcogen, templ

WIP README
  README.md
Due: none

Examples in readme
  README.md
  example/view/index.templ
Due: templ

Add link
  README.md
Due: none

Information
  README.md
  example/main.go
  main.go
Due: tcogen

Ignore _templ.go files
  main.go
Due: tcogen
